body,
header,
input,
form,
section,
span,
li,
ul,
div,
hr,
button,
a,
p,
img,
h1,
h2,
h3,
h4 {
  margin: 0px 0px;
  padding: 0px 0px;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
          box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}
input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}
input,
button {
  border: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a {
  color: #fff;
  text-decoration: none;
}
.row.slim {
  margin-left: 0;
  margin-right: 0;
}
.row.slim > [class^="col-"],
.slim > [class*=" col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.eco-btn {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  border-radius: 33px;
  background-color: #5ab115;
  background-image: linear-gradient(79deg, #57b016 0%, #a4d905 100%);
}
.o-btn {
  display: block;
  text-align: center;
  color: #454545;
  font-size: 22px;
  border: 2px solid #484848;
  border-radius: 27px;
}
@font-face {
  font-family: "AdobeClean";
  src: url(../fonts/AdobeClean-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "AdobeClean";
  src: url(../fonts/AdobeClean-BoldSemiCn.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "AdobeClean";
  src: url(../fonts/AdobeClean-Regular.ttf);
  font-weight: 400;
}
body {
  font-family: 'AdobeClean', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #000;
}
.intro-section {
  position: relative;
  background: url(../img/main-fon.png) center bottom no-repeat;
  min-height: 100vh;
  background-size: cover;
}
.header {
  z-index: 90;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  position: absolute;
  top: 120px;
}
.header .logo-2 {
  display: none;
}
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-menu li {
  margin-right: 40px;
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.32px;
}
.header-menu li a {
  color: #ffffff;
}
.header-menu li:nth-child(5) {
  margin-right: 0;
}
.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-buttons .header-btn {
  margin-right: 30px;
  padding-left: 3px;
  width: 197px;
  height: 48px;
  line-height: 48px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.08px;
}
.header-buttons .header-btn:after {
  content: '';
  margin-left: 10px;
  margin-bottom: -5px;
  width: 22px;
  display: inline-block;
  height: 25px;
  background: url(../img/icon-1.png) center center no-repeat;
}
.header-buttons .header-user-btn {
  color: #ffffff;
  font-size: 18px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 1.32px;
}
.header-buttons .header-user-btn:before {
  content: '';
  margin-right: 13px;
  margin-bottom: -5px;
  display: inline-block;
  width: 27px;
  height: 25px;
  background: url(../img/user.png) center center no-repeat;
}
.white {
  -webkit-transition: 330ms !important;
  transition: 330ms !important;
  background: #fff;
}
.white .logo-1 {
  display: none;
}
.white .logo-2 {
  display: block;
}
.white li a {
  color: #323440;
}
.white .header-user-btn {
  color: #323440;
}
.fixed {
  -webkit-transition: 0ms !important;
  transition: 0ms !important;
  position: fixed;
  top: 0px;
}
.camping {
  padding-top: 320px;
}
.camping__title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 3.6px;
}
.camping__desc {
  margin-top: 36px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.68px;
}
.camping__btn-more {
  display: block;
  margin-top: 40px;
  color: #a4d905;
  font-size: 18px;
  font-weight: 400;
  line-height: 8px;
  /* Text style for "У, знать о" */
  letter-spacing: 1.08px;
}
.camping__btn-more:hover {
  color: #a4d905;
}
.scroll-indication-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 300px;
}
.scroll-indication-wrapper img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.scroll-indication-wrapper .line-wrapper {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 206px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.scroll-indication-wrapper .line {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes move {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
.harmony-section {
  background: url(../img/fon-2.png) center center no-repeat;
  background-size: cover;
  min-height: 1200px;
  position: relative;
}
.harmony-section__tree {
  width: 588px;
  height: 1298px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-46%);
          transform: translateX(-46%);
  bottom: 0;
  background: url(../img/tree.png) center center no-repeat;
}
.harmony-section__wrapper {
  position: absolute;
  top: 419px;
  left: -360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 353px;
}
.harmony-section__wrapper h2 {
  color: #ffffff;
  font-size: 34px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 3.6px;
  text-align: right;
}
.harmony-section__wrapper .harmony-btn {
  margin-top: 44px;
  margin-left: auto;
  line-height: 51px;
  width: 190px;
  height: 51px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.harmony-section p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1.32px;
}
.harmony-section p:nth-child(2) {
  position: relative;
  top: 835px;
  left: -595px;
  text-align: right;
}
.harmony-section p:nth-child(3) {
  position: relative;
  top: 660px;
  left: -485px;
  text-align: right;
}
.harmony-section p:nth-child(4) {
  position: relative;
  top: 160px;
  left: -495px;
  text-align: right;
}
.harmony-section p:nth-child(5) {
  position: relative;
  top: -20px;
  left: -350px;
  text-align: right;
}
.harmony-section p:nth-child(6) {
  position: relative;
  top: 12px;
  left: 448px;
}
.harmony-section p:nth-child(7) {
  position: relative;
  top: 152px;
  left: 522px;
}
.harmony-section p:nth-child(8) {
  position: relative;
  top: 200px;
  left: 600px;
}
.harmony-section p:nth-child(9) {
  position: relative;
  top: 355px;
  left: 564px;
}
.content-section__wrapper {
  position: relative;
  min-height: 1000px;
  background: url(../img/woman.png) no-repeat;
  background-position: 135% bottom;
}
.content-section .koren {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -253px;
  width: 558px;
  height: 397px;
}
.content-section h2 {
  padding-top: 170px;
  background: -webkit-gradient(linear, left top, left bottom, from(#008000), to(#ff0000));
  background: linear-gradient(#008000, #ff0000);
  color: transparent;
  background-image: linear-gradient(-29deg, #57b016 0%, #a4d905 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 3.6px;
}
.content-section__list {
  margin-top: 80px;
}
.content-section__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 25px;
  color: #464452;
  letter-spacing: 1.32px;
}
.content-section__list-item:nth-child(1) {
  margin-left: 19px;
}
.content-section__list-item:nth-child(1) img {
  margin-right: 30px;
}
.content-section__list-item:nth-child(2) {
  margin-left: 8px;
}
.content-section__list-item:nth-child(2) img {
  margin-right: 17px;
}
.content-section__list-item:nth-child(3) {
  margin-left: 30px;
}
.content-section__list-item:nth-child(3) img {
  margin-right: 39px;
}
.content-section__list-item h4 {
  font-weight: 700;
  font-size: 22px;
}
.content-section__list-item p {
  font-size: 16px;
  font-weight: 400;
}
.content-section .content-btn {
  margin-top: 90px;
  width: 288px;
  height: 67px;
  line-height: 67px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.08px;
}
.cube-section {
  position: relative;
  padding-top: 130px;
  height: 1130px;
  background: url(../img/cube-fon.png) top center no-repeat;
}
.cube-section h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 3.6px;
}
.cube-section .cube-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}
.cube-section .cube-desc {
  margin-right: 86px;
  color: #a4d905;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.cube-section .cube-carusel__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.cube-section .cube-carusel__wrapper .left-carusel-btn {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #9ed509;
}
.cube-section .cube-carusel__wrapper .right-carusel-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #9ed509;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.cube-section .cube-img {
  margin-top: 30px;
  display: inline-block;
  position: relative;
}
.cube-section .cube-img:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
  margin-top: -448px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 896px;
  height: 896px;
}
.cube-section .cube-img:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
  margin-top: -598px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 1196px;
  height: 1196px;
}
.cube-section .cube-img__wrapper:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
  margin-top: -748px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 1496px;
  height: 1496px;
}
.cube-section .cube-list {
  position: relative;
}
.cube-section .cube-list__item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.cube-section .cube-list__item-img {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 60px;
  width: 94px;
  height: 94px;
  border-radius: 50%;
  -webkit-box-shadow: 0 12px 94px 17px rgba(87, 252, 95, 0.39);
          box-shadow: 0 12px 94px 17px rgba(87, 252, 95, 0.39);
  background-color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#60b422), to(#a4d906));
  background-image: linear-gradient(to top, #60b422 0%, #a4d906 100%);
}
.cube-section .cube-list__item-img:after {
  position: absolute;
  content: '';
  display: block;
  width: 155px;
  height: 155px;
  border: 1px solid #9ed509;
  border-radius: 50%;
  opacity: 0.51;
}
.cube-section .cube-list__item h4 {
  margin-top: 30px;
  color: #fefefe;
  font-size: 26px;
  font-weight: 400;
}
.cube-section .cube-list__item p {
  margin-top: 10px;
  color: #fefefe;
  font-size: 16px;
  font-weight: 300;
}
.cube-section .cube-list__item:nth-child(1) {
  left: 580px;
  top: -390px;
}
.cube-section .cube-list__item:nth-child(2) {
  left: 555px;
  top: 200px;
}
.cube-section .cube-list__item:nth-child(3) {
  left: 890px;
  top: -75px;
}
.innovation-section {
  height: 700px;
  padding-top: 100px;
  background: url(../img/cpiral.png) center center no-repeat;
}
.innovation-section__text h2 {
  background-image: linear-gradient(-29deg, #57b016 0%, #a4d905 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 40px;
  font-weight: 600;
  /* Text style for "Н, аука и" */
  letter-spacing: 3.6px;
}
.innovation-section__text p {
  margin-top: 60px;
  max-width: 715px;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.32px;
}
.innovation-section__text .innovation-btn {
  margin-top: 76px;
  width: 233px;
  height: 66px;
  line-height: 66px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.innovation-section__img img {
  float: right;
}
.confederate-section {
  height: 100vh;
  padding-top: 240px;
  background: url(../img/choto-fon.png) center center no-repeat;
  background-size: cover;
}
.confederate-section h2 {
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 3.6px;
}
.confederate-section p {
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  width: 590px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.32px;
}
.confederate-section .confederate-btn {
  margin: 0 auto;
  margin-top: 60px;
  width: 300px;
  height: 67px;
  line-height: 67px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.pressa-section {
  height: 1010px;
  padding-top: 120px;
}
.pressa-section h2 {
  font-size: 50px;
  color: #000;
  font-weight: 400;
  text-align: center;
}
.pressa-section__slider {
  margin-top: 95px;
}
.pressa-section__slider-item img {
  margin: 0 auto;
  line-height: 222px;
}
.pressa-section__slider-item p {
  margin: 0 auto;
  cursor: pointer;
  margin-top: 50px;
  text-align: center;
  max-width: 325px;
}
.pressa-section .pressa-item__img {
  min-height: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pressa-section .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pressa-section__prevArrow {
  cursor: pointer;
  background: url(../img/pressa/prewArrow.png) center center no-repeat;
  position: absolute;
  left: 339px;
  bottom: -124px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #888888;
}
.pressa-section__nextArrow {
  cursor: pointer;
  background: url(../img/pressa/nextArrow.png) center center no-repeat;
  position: absolute;
  left: 844px;
  bottom: -124px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #888888;
}
.pressa-section .pressa-btn {
  margin: 0 auto;
  margin-top: 70px;
  font-size: 22px;
  width: 255px;
  height: 55px;
  line-height: 55px;
}
.pressa-section .pressa-btn:hover {
  color: #454545;
}
.order-section {
  padding-top: 170px;
  background: url(../img/order-fon.png) center center no-repeat;
  background-size: cover;
  height: 1078px;
}
.order-section h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
.order-section p {
  color: #fff;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.order-section .order-btn {
  margin: 0 auto;
  margin-top: 76px;
  width: 261px;
  height: 67px;
  line-height: 67px;
  background-image: linear-gradient(79deg, #57b016 0%, #a4d905 100%);
}
.footer {
  height: 200px;
  color: blue;
}
